@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Build and deploy your .NET core App using Azure Pipelines | Devops Tutorial.</p>
</div>
