@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Build and deploy your .NET core App using Azure Pipelines | Devops Tutorial.</p>
    <div>
        <span>Now, the build and release process  ready, let's check in new changes to deploy the code into IIS web server</span>
        <span>New changes</span>
    </div>
</div>
